body {
	background-image: url(images/beanstalk.png);
	font-family: 'Alef', sans-serif;
	line-height: 1.5;
	color: inherit;
	margin: 0;
}



/*.container {
    padding: 15px;
}*/

 .logo{
	display: block;
	margin: auto;
	text-align: center;
	margin-bottom: 25px;
}

img {
	display: block;
	max-width: 100%;	
	width: auto;
	height: auto;
}

.nyc {
	float: left;
	max-width: 100%;
}

.container {
	max-width: 800px;
	margin: auto;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	grid-gap: 30px;
}

.contactUs {
	background: url("images/image%20(3).jpg") center, no-repeat;
	background-size: cover;
	color: #fff;
    padding: 60px;
	text-align: center;
	min-width: 100%;
}
