body {
	background-image: url(images/beanstalk.png);
	font-family: 'Alef', sans-serif;
	line-height: 1.5;
	color: inherit;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav a {
	text-decoration: none;
	color: inherit;
}

/*.container {
    padding: 15px;
}*/



.main-nav ul {
	display: flex;
	justify-content: flex-start;
}

.main-nav a {
	background-color: azure;
	display: block;
	margin: 0 10px;
	color: cornflowerblue;
	font-size: 30px;
}

.main-nav a:hover {
	border-bottom: 4px solid #381500;
}

.main-nav l.current a {
	border-bottom: 4px solid #798d98;
}

img {
	display: block;
	max-width: 100%;
	display: block;
	width: auto;
	height: auto;
}

.nyc {
	float: left;
	max-width: 100%;
}

.container {
	max-width: 800px;
	margin: auto;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	grid-gap: 30px;
}

.contactUs {
	background: url("images/alan-carrillo-HIghIy9i0aY-unsplash%20(2).jpg") center, no-repeat;
	background-size: cover;
	color: #000;
    padding: 60px;
	text-align: center;
	min-width: 100%;
}
